@keyframes spinner-leaf-fade {
    0%,
    39%,
    100% {
        opacity: 0.25;
    }
    40% {
        opacity: 1;
    }
}

.animate-spinner-leaf-fade {
    animation: spinner-leaf-fade 1.2s linear infinite;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.animate-wave {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.wave-1 {
    animation-delay: -2s;
    animation-duration: 7s;
}

.wave-2 {
    animation-delay: -3s;
    animation-duration: 10s;
}

.wave-3 {
    animation-delay: -4s;
    animation-duration: 13s;
}

.wave-4 {
    animation-delay: -5s;
    animation-duration: 20s;
}

/* Border Beam */
.borderBeam {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: calc(var(--border-width, 1.5px)) solid transparent;
    border-radius: inherit;
    -webkit-mask-clip: padding-box, border-box !important;
    mask-clip: padding-box, border-box !important;
    -webkit-mask-composite: source-in, xor !important;
    mask-composite: intersect !important;
    -webkit-mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    will-change: auto;
}
.borderBeam::after {
    content: '';
    position: absolute;
    aspect-ratio: 1/1;
    width: calc(var(--size, 200px));
    background: linear-gradient(to left, var(--color-from, #ffaa40), var(--color-to, #9c40ff), transparent);
    offset-anchor: calc(var(--anchor, 90)) 50%;
    offset-path: rect(0 auto auto 0 round calc(var(--size)));
    animation: border-beam calc(var(--duration, 15s)) infinite linear;
    animation-delay: calc(var(--delay, 0s));
    will-change: auto;
}

@keyframes border-beam {
    100% {
        offset-distance: 100%;
    }
}
